.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;

  >* {
    width: 100%;
    margin: 10px 0;
  }

  &Apply {
    display: block;
    margin: 10px auto;
    padding: 10px;
  }
}
